.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

h1{
	
	font-size: 3em;
	text-align: center;
	color: white;
	font-family: serif;
}

img{
	width: 350px;
	height: 400px;
	margin: 25px;
	transition: all 1s;
	}

img:hover {
	transform: scale(1.6);
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}